
Pong.cbp

Pong.depend

bin/Debug/Pong.exe

bin/Debug/SDL2.dll

bin/Debug/SDL2_image.dll

bin/Debug/libpng16-16.dll

bin/Debug/zlib1.dll

lib/SDL2.dll

lib/SDL2_image.dll

lib/libpng16-16.dll

lib/zlib1.dll

obj/Debug/sources/pong.o

Pong.layout

obj/Debug/sources/LTexture.o
